#box 
 div#top
   #top_1
      input(type='button',class='menuBt', id='LOGO', value='Street', style='width:200px; margin-left:390px;')p
      input(type='button',class='menuBt', id='mStreet', value='mStreet', style='width:170px; margin-left:45px; margin-top:1px;')
      input(type='button',class='menuBt', id='cStreet', value='cStreet', style='width:170px;')
      input(type='button',class='menuBt', id='sStreet', value='sStreet', style='width:170px;')
      input(type='button',class='menuBt', id='gStreet', value='gStreet', style='width:170px; margin-right:60px;')
   #top_2
    <fb:profile-pic uid="loggedinuser" size="square"></fb:profile-pic>
    <fb:name uid="loggedinuser" use-you="no"></fb:name>
    <fb:login-button autologoutlink="true"></fb:login-button><p>
    <button class="menuBt2" onclick="dial()" style='width:130px; height:25px;'>글쓰기</button>
 #main
   #dialog(style='display:none', title='방 만들기')
       form(id ='makeRoom', action='/makeRoom', method='POST')
        label(for='roomname') 방     장    
        input(type='text', id ='nickname', name ='nickname', value='#{nickname}')p
        label(for='roomname') 방     제    
        input(type='text', id='roomname', name='roomname')p
        label(for='musicmax') 게임곡수
        select(name='musicmax')
         option(value='10', selected) 10곡
         option(value='20') 20곡
         option(value='30') 30곡
         option(value='40') 40곡
        p
        lable(for='usermax') 최대인원 
        select(name='usermax')
         option(value='10', selected) 2명
         option(value='20') 4명
         option(value='30') 6명
         option(value='40') 8명 
        input(type='submit', value='입장', class='logBt',style='width:80px; float:left; ')
   #g_main_1
     #g_main_1_1
         input(type='button',class='menuBt2',value ='방 만들기', id='createRoom', style='width:127px; height: 50px;  ,float:left;, margin-left:2px; margin-top:10px;')
         input(type='button',class='menuBt2',value ='새로 고침', style ='width:128px; height: 50px;  ,float:left;,margin-left:2px; margin-top:10px;')
     #g_main_1_2
         each room in roomInfo
           div(style='width:160px; height:110px; overflow:auto; border:1px solid #000; float:left; margin-right:10px; margin-top:20px;')
              li= '방제'+room.name
              p
              li='-판당 곡수:'+room.musicmaxs+'-최대 인원:'+room.usermaxs 
              input(type='button', class='menuBt3', value='입장', onclick='location.href=\'/join/' + room.name + '\'', style='margin-left:80px; margin-top:10px;'); 
   #g_main_2
     p 참여자 목록
     #attentsList(style='width:260px; height:150px; overflow:auto; border:1px solid #000;')
      ul#attendants
       each wUser in waitUser
         li(id='wUser.name-'+wUser.name)= wUser.name
     p 채팅창
     #chatWindow(style='width:260px; height:180px; overflow:auto; border:1px solid #000; float:left; margin-right:10px;')
     span#myName #{nickname}님:
     input(type='text', style='width:150px;')#message
     input(type='Button', id='chatButton', value='보내기', style='width:60px; height:25px;')
     

script(type='text/javascript', src='http://www.google.com/jsapi?key=ABQIAAAAdV0OihhLfo4ru8N1BXzlWxSJ87f2VNqmObhB7kj4DJwDOGkiiBR3Nh79Pxxmk0DgEb3TTwZHI-Fp1g')
script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.0.min.js')
script(type='text/javascript', src='/javascripts/jquery-ui-1.8.18.custom.min.js')

script(type='text/javascript') 
  $(document).ready(function() {
  var room = io.connect('/room'); 
      var chatWindow = $('#chatWindow');
      var messageBox = $('#message');
      var myName = $('#myName').text();
      
      $('#chatWindow').focus();
   
      var showMessage = function(msg) {
        var pos = $("#chatWindow").position().top;
        chatWindow.append($('<p>').text(msg)).animate({ scrollTop: pos }, 'slow');   
        chatWindow.scrollTop(chatWindow.height());
      };
   
      room.on('message', function(data) {
         showMessage(data.nickName + ' : ' + data.msg); 
      });
   
      room.on('friendlisted', function(data) { 
        alert('a');
        var array = data.usName;
      $.each(data.usName, function(index, item){
         alert( item.friend); var output=''; output+= '<br>'+ item.friend +'<input type="button", value="친구정보보기">';$('#hs').append(output); }); 
      });

      $('#chatButton').click(function(e) {
           var msg = messageBox.val();
           if ($.trim(msg) !== '') {
             showMessage(myName + ' : ' + msg);
             room.json.send({nickName:myName, msg:msg});
             messageBox.val(''); messageBox.focus();
           }
       });
      $('#gStreet').css('background','Blue');
      $('#createRoom').click(function(e) {
         $('#dialog').dialog(); $('#roomname').focus();
      });

  var room = io.connect('/room');

  });